<!DOCTYPE html>
<!-- testing code to see if push works -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= contribution.name %> - Contributions </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->

<!--Site title-->
<% include ./partial/header.ejs%>
<% include ./partial/navbar.ejs%>

<header>
    <h1><%= contribution.name %></h1>
    <h2>Author: <%= contribution.creator %></h2>
</header>

<!-- Advanced search options -->
<section id="contributions_sidebar">
<nav id = "contributions_options">
    <h4>Sort By:</h4>
    <ul>
        <li><a href="">Alphabetical</a></li>
        <li><a href="">Most recent</a></li>
        <li><a href="">Most popular</a></li>
    </ul>
</nav>

<!--Contributions list-->
<section id = "contributions_grid">
    <!--Individual contribution-->
    <% const comments = contribution.comments;
    for(i = 0; i < comments.length-1; i++) { %>
    <article>
        <!--User info - links to user profile-->
        <p class = "comment_username"><a href=""><%=comments[i].username%></a></p>
        <p class = "comment_description"><%=comments[i].description%></p>
        <!--Article preview-->
        <p class = "preview"><a href="<%=comments[i].article_url%>">Preview (TBD)</a></p>
    </article>
    <% } if(comments.length%2==0) {%>
    <article id = "invisible"></article>
    <%}
    %>

</section>
</section>
</div>

<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>