<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= issue.name %> - Contributions </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->

<!--Site title-->
<% include ./partial/navbar.ejs%>

<header>
    <h1><%= issue.name %></h1>
</header>

<!-- Advanced search options -->
<section id="contributions_sidebar">
<nav id = "contributions_options">
    <h4>Sort By:</h4>
    <ul>
        <li><a href="">Alphabetical</a></li>
        <li><a href="">Most recent</a></li>
        <li><a href="">Most popular</a></li>
    </ul>
</nav>

<!--Contributions list-->
<section id = "contributions_grid">
    <!--Individual contribution-->
    <% /*const comments = issue.contributions;*/
    for(i = 0; i < comments.length; i++) { %>
    <article>
        <!--User info - links to user profile-->
        <p class = "comment_username"><a href="../profile/<%=comments[i].author%>"><%=comments[i].author%></a></p>
        <p class = "comment_description"><%=comments[i].comment%></p>
        <!--Article preview-->
        <p class = "preview"><a href="<%=comments[i].article_url%>">Preview (TBD)</a></p>
    </article>
    <% } if(comments.length == 0) {%>
        <p>No comments on this article yet!<p> <!--TODO-->
     <%} else if(comments.length%2==0) {%>
        <article id = "invisible"></article>
    <%}
    %>

</section>
</section>
</div>

<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>