<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title> <%= editor.name %> - <%= editor.author%> </title>

    <!-- Stylesheets -->
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">

    <!-- Javascript files -->
    <script src = "../javascript/interactButtons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Used to make Navigation Bar Sticky -->
    <script src = "../javascript/sticky_nav.js"></script>

    <!-- Used to enable comment pop up -->
    <script src = "../javascript/commentPopUp.js"></script>

    <!-- Used to Validate the Form fields -->
    <script src = "../javascript/formValidation.js"></script>

    <!-- Used to render interactions buttons in relation to past user action -->
    <script>
        <% // Get the initial state of every button
        let likedPost = false;
        let bookmarkedPost = false;
        let followedEditor = false;
        function findLikes(likes, id) {
            for(i=0; i<likes.length;i++) {
                if(likes[i].id === id) {
                    return true;
                }
            }
            return false;
        }

        if(user) {
            likedPost = findLikes(user.likes, editor._id);
            // Bookmark structure is the same so use the same method
            bookmarkedPost = findLikes(user.bookmarks, editor._id);
            if(user.followedUsers.indexOf(editor.author) !== -1) {
                followedEditor = true;
            }
        }

        // Set the buttons to the DB-appropriate state using jQuery
        if(likedPost === true) {%>
            $(document).ready(function () {
                changeColour("likeButton");
            });
        <%} if(bookmarkedPost === true) { %>
            $(document).ready(function () {
                changeColour("bookmarkButton");
            });
        <%} if(followedEditor === true) { %>
            $(document).ready(function () {
                changeColour("followButton");
            });
        <%} %>
    </script>
</head>


<body>

<!-- Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

<!-- Used to make footers sticky -->
<div class = "content">

    <!-- if any Interaction Button is clicked and User is not Logged In
    an error pops up, and prompts user to Log In first-->
    <section id="error_popup_bg">
        <section id="error_popup">
            <h4>Wait a moment!</h4>
            <p>To like, follow or bookmark, you need to be a user first.</p>
            <p><a href="../create-account">Click here to go to the create account page.</a></p>
            <p><a href="../login">Click here to login.</a></p>
        </section>
    </section>

    <div class = "grid-container-editor">
        <!-- Article Banner -->
        <header class = "header">
            <!-- Article Banner rendered on Article Pages -->
            <div class = "banner">
                <img src = "<%=editor.image%>" class = "banner-image">
                <div class = 'centered'><h1 class = "white_text font_400 text_shadow"><%= editor.name %></h1>
                    <h2 class = "white_text text_shadow"> By <em>
                            <a href="../profile/<%= editor.author%>" class = "white_text"><%= editor.author%></a>
                            &nbsp;</em>

                        <!-- Follow Editor Button-->
                        <% let arguments;
                        /* If user is not logged in error is thrown*/
                        if(!user) {%>
                            <button id = "followButton" onclick = "showError()"> Follow </button>
                        <%}
                        /* Render the button in respect to whether the user has previously liked the article */
                        else {
                            // Define the arguments to be used in each button onClick.
                            arguments = user.username + "\", " + JSON.stringify(editor); %>
                            <button id = "followButton" onclick = "interactButtons(<%="\"followButton\", \""
                                + arguments%>)"> Follow </button>
                        <%}%>
                    </h2>
                    <h3 class =  "white_text text_shadow"><em> <%= editor.date_post%></em></h3>
                </div>

                <!-- Interaction Buttons -->
                <div id = "interaction_buttons" class = "bubble">
                    <%if(!user) { %>
                    <button id = "likeButton" class = "likeOff" onclick= "showError()"></button>
                    <button id = "bookmarkButton" class = "bookmarkOff"  onclick = "showError()"></button>
                    <%}
                    /* Render the button in respect to whether the user has previously liked the article */
                    else {%>
                        <button id = "likeButton" class = "likeOff" onclick= "interactButtons(<%="\"likeButton\", \""
                            + arguments%>)"></button>
                        <button id = "bookmarkButton" class = "bookmarkOff"  onclick = "interactButtons
                                (<%="\"bookmarkButton\", \"" + arguments%>)"></button>
                    <%}%>
                </div>
            </div>
        </header>

        <!-- Information for User to assess whether to read the article at a glance -->
        <div class = "ratings">
            <!-- Number of users who have liked the article -->
            <p> <b>Popularity:</b> <em><%=editor.popularity%></em> people liked this article
                <!-- Categories hyperlinked to similar articles -->
                | <b>Categories:</b> <% for(let i = 0; i < editor.categories.length; i++) { %>
                <a href=<%="../search?query=&category=" + editor.categories[i]%>> <%= "#" + editor.categories[i] %></a> <%}%></p>
        </div>

        <!-- Description of the Article by the Editor -->
        <div class = "description bubble">
                <h2>"<%= editor.description %>"</h2>
        </div>

        <!-- Repository Title  -->
        <div class = "title-articlerepos bubble">
            <h1 class="white_text"> <img src = "../images/downwards-arrow-key.png" style = "float:left; width:28px">
                <%= editor.author%>'s Resource Repository <img src = "../images/downwards-arrow-key.png" style = "float:right; width:28px"> </h1>
        </div>

        <!-- Tips from Unexpected Vision about how to approach the repository -->
        <div class = "tips bubble">
            <h3 class = "darkgray_text"> <em>Tips to navigate by the Site Creators</em></h3>
            <p class = "darkgray_text"> If you are unfamiliar with an issue try starting with <em>High Level Perspectives</em>
            to get an overview of what the issue is about, from there feel free to investigate
            reports and opinion pieces to begin your research on why the article's Editor holds their stance.
                <br> Please note: the links are those suggested by the Editor
            <br> <br> For information on how to make the most of these articles, see our <a href = "../about"> About</a> page! </p>
        </div>


        <!-- High Level Links  -->
        <div class = "high_l bubble">
            <h1> High Level Perspectives</h1>
            <ul>
                <% for(i = 0; i < editor.hl_source.length; i++) { %>
                <li> <a href = "<%=editor.hl_source[i]%>" target="_blank"> <%=editor.hl_source[i].description%>  </a> </li>
                <% } %>
            </ul>
        </div>

        <!--Report Links-->
        <div class = "reports bubble">
            <h1> Reports</h1>
            <ul>
                <% for(i = 0; i < editor.r_source.length; i++) { %>
                <li> <a href = "<%=editor.r_source[i]%>" target="_blank"> <%=editor.r_source[i].description%> </a> </li>
                <% } %>
            </ul>
        </div>

        <!--Opinion Links-->
        <div class = "opinions bubble">
            <h1> Opinion Pieces </h1>
            <ul>
                <% for(i = 0; i < editor.o_source.length; i++) { %>
                <li> <a href = "<%=editor.o_source[i]%>" target="_blank"> <%=editor.o_source[i].description%> </a> </li>
                <% } %>
            </ul>
        </div>

        </section>

    </div>
    <br>

    <!-- Comments Section -->
    <h1>Comments</h1>
    <br>

    <!-- If there are no comments -->
    <% if(comments.length == 0) {%>
    <section>
        <p>There are no comments on this article yet!<p>
            <button id = "comment_button_centered" onclick="showCommentForm()">Comment!</button>
    </section>

    <!-- Render Comments Sections -->
    <% } else { %>
    <section id = "contributions_grid">
        <!-- Render all comments on Article-->
        <% for(i = 0; i < comments.length; i++) { %>

        <article id="single_comment">
            <!--User info - links to user profile-->
            <p class = "comment_username"><a href="../profile/<%=comments[i].author%>"><%=comments[i].author%></a></p>
            <p class = "comment_description"><%=comments[i].comment%></p>
            <!--Article preview-->
            <p class = "preview_test"><a href="<%=comments[i].article_url%>">See Article</a></p>
        </article>

        <% }
        if(comments.length%3==2) {%>
        <article id = "invisible"></article>
        <%} else if(comments.length%3==1) {%>
        <article id = "invisible"></article>
        <article id = "invisible"></article>
        <%}%>
    </section>

    <!-- Comment Form Pop Up -->
    <button id = "comment_button" onclick="showCommentForm()">Comment!</button>
    <%}%>

    <!--Enter comment form-->
    <section id="enter_comment_bg">
        <% if(user) {%>
        <form id="enter_comment" action = "../new-contribution/" method = "post">
            <input type="hidden" name="name" value="<%=editor.name%>">
            <input type="hidden" name="author" value = "<%=user.username%>">
            <textarea class = "comment-field" name="comment" placeholder="Your comment here..."></textarea><br>
            <input class = "comment-field" type="text" name="article_url" placeholder="URL to an article">
            <button type="submit">Submit</button>
            <p id = "error"> </p>
        </form>
        <%}
        <!-- If user is not logged in error is thrown -->
        else { %>
        <section id="enter_comment">
            <h4>Wait a moment!</h4>
            <p>To make a comment, you need to be a user first.</p>
            <p><a href="../create-account">Click here to go to the create account page.</a></p>
            <p><a href="../login">Click here to login.</a></p>
        </section>
        <%}%>
    </section>

</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>
