<!-- In progress - trying in html first -->
<script src = "../javascript/op_scroll.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

    <!-- Stylesheets -->
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">

    <!-- Javascript files -->
    <script src = "/javascript/changeColor.js"></script>
    <!--script src = "../javascript/op_scroll.js"></script>
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "../javascript/sticky_nav.js"></script>

    <!-- Name of Article -->
    <title> <%= editor.name %> - <%= editor.author%> </title>
</head>


<body>

<!-- Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

    <div class = "grid-container">

<!-- Used to make footers sticky -->
<div class = "content">


    <div class = "grid-container-editor">

        <!-- Article Banner -->
        <header class = "header">
            <% include ./partial/article-banner.ejs%>
        </header>

        <!-- Information for User to assess whether to read the article at a glance -->
        <div class = "ratings">
            <!-- Number of users who have liked the article -->
            <p> <b>Popularity:</b> <em><%=editor.popularity%></em> people liked this article
                <!-- Categories hyperlinked to similar articles -->
                | <b>Categories:</b> <% for(let i = 0; i < editor.categories.length; i++) { %>
                <a href=<%="../search?query=&category=" + editor.categories[i]%>> <%= "#" + editor.categories[i] %></a> <%}%></p>
        </div>

        <!-- Description of the Article by the Editor -->
        <div class = "description bubble">
                <h2>"<%= editor.description %>"</h2>
        </div>

        <!-- Repository Title  -->
        <div class = "title-articlerepos bubble">
            <h1 class="white_text"> <img src = "../images/downwards-arrow-key.png" style = "float:left; width:28px">
                <%= editor.author%>'s Resource Repository <img src = "../images/downwards-arrow-key.png" style = "float:right; width:28px"> </h1>
        </div>

        <div class = "psst bubble">
            <h3 class = "darkgray_text"> <em>Tips to navigate by the Site Creators</em></h3>
            <p class = "darkgray_text"> If you are unfamiliar with an issue try starting with <em>High Level Perspectives</em>
            to get an overview of what the issue is about, from there feel free to investigate
            reports and opinion pieces to begin your research on why the article's Editor holds their stance.
                <br> Please note: the links are those suggested by the Editor
            <br> <br> For information on how to make the most of these articles, see our <a href = "../about"> About</a> page! </p>
        </div>


        <!-- High Level Links  -->
        <div class = "high_l bubble">
            <h1> High Level Perspectives</h1>
            <ul>
                <% for(i = 0; i < editor.hl_source.length; i++) { %>
                <li> <a href = "<%=editor.hl_source[i]%>" target="_blank"> <%=editor.hl_source[i]%>  </a> </li>
                <% } %>
            </ul>
        </div>

        <!--Reports Links-->
        <div class = "reports bubble">
            <h1> Reports</h1>
            <ul>
                <% for(i = 0; i < editor.r_source.length; i++) { %>
                <li> <a href = "<%=editor.r_source[i]%>" target="_blank"> <%=editor.r_source[i]%> </a> </li>
                <% } %>
            </ul>
        </div>

        <!--Opinion Links-->
        <div class = "opinions bubble">
            <h1> Opinion Pieces </h1>
            <ul>
                <% for(i = 0; i < editor.o_source.length; i++) { %>
                <li> <a href = "<%=editor.o_source[i]%>" target="_blank"> <%=editor.o_source[i]%> </a> </li>
                <% } %>
            </ul>

        </div>

        <section class = "related_opportunities bubble">
            <h2> Related Opportunities </h2>
            <%include ./partial/opportunities_sidescroll.ejs%>
        </section>

        <section class = "item9">
            <button><a href = "<%="../comments/" + editor._id%>">See comments on this issue</a></button>
        </section>

    </div>

        <!--    </section>
        </section>-->
        
</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>
