<!-- In progress - trying in html first -->
<script src = "../javascript/op_scroll.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

    <!-- Stylesheets -->
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">

    <!-- Javascript files -->
    <script src = "/javascript/changeColor.js"></script>
    <script src = "../javascript/op_scroll.js"></script>

    <!-- Name of Article -->
    <title> <%= editor.name %> </title>
</head>


<body>
<!-- Used to make footers sticky -->
<div class = "content">

<!-- Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

    <div class = "grid-container-editor">

        <!-- Article Banner -->
        <header class = "header">
            <div class = "editor-banner">
                <img src = "<%=editor.image%>" class = "editor-image">
                <div class = 'centered'><h1 class = "white_text font_400 text_shadow"><%= editor.name %></h1>
                    <h2 class = "white_text text_shadow"> By <em><%= editor.author%> &nbsp;</em>

                        <!-- Follow creator option; see draft -->
                        <button id = "followButton" onclick = "changeColor(this.id)"> Follow </button></h2>
                    <h3 class =  "gray_text"><em> <%= editor.date_post%></em></h3>
                </div>
                <div id = "interaction_buttons" class = "bubble">
                    <button id = "likeButton" class = "likeOff" onclick= "changeColor(this.id)">  </button>
                    <button id = "bookmarkButton" class = "bookmarkOff"  onclick = "changeColor(this.id)"></button>
                </div>
            </div>
        </header>

        <!-- Information for User to assess whether to read the article at a glance -->
        <div class = "ratings">
            <!-- Number of users who have liked the article -->
            <p> <b>Popularity:</b> <em><%=editor.popularity%></em> people liked this article
                <!-- Categories hyperlinked to similar articles -->
                | <b>Categories:</b> <% for(let i = 0; i < editor.categories.length; i++) { %>
                <a href=<%="../search?query=&category=" + editor.categories[i]%>> <%= "#" + editor.categories[i] %></a> <%}%></p>
        </div>

        <!-- Description of the Article by the Editor -->
        <div class = "description bubble">
                <h2>"<%= editor.description %>"</h2>
        </div>

        <!-- Repository Title  -->
        <div class = "title-articlerepos bubble">
            <h1 class="white_text"> <img src = "../images/downwards-arrow-key.png" style = "float:left; width:28px">
                <%= editor.author%>'s Resource Repository <img src = "../images/downwards-arrow-key.png" style = "float:right; width:28px"> </h1>
        </div>

        <!-- High Level Links  -->
        <div class = "high_l bubble">
            <h1> High Level Perspectives</h1>
            <ul>
                <% for(i = 0; i < editor.hl_source.length; i++) { %>
                <li> <a href = "<%=editor.hl_source[i]%>" target="_blank"> <%=editor.hl_source[i]%>  </a> </li>
                <% } %>
            </ul>
        </div>

        <!-- Suggestion to read High Level First -->
        <div class = "pst bubble">
            <p><em>psstt - start here if you are brand new to the issue!</em></p>
            <h1> <-- </h1>
        </div>

        <!--Reports Links-->
        <div class = "reports bubble">
            <h1> Reports</h1>
            <ul>
                <% for(i = 0; i < editor.r_source.length; i++) { %>
                <li> <a href = "<%=editor.r_source[i]%>" target="_blank"> <%=editor.r_source[i]%> </a> </li>
                <% } %>
            </ul>
        </div>

        <!--Opinion Links-->
        <div class = "opinions bubble">
            <h1> Opinions </h1>
            <ul>
                <% for(i = 0; i < editor.o_source.length; i++) { %>
                <li> <a href = "<%=editor.o_source[i]%>" target="_blank"> <%=editor.o_source[i]%> </a> </li>
                <% } %>
            </ul>

        </div>


        <section class = "item8 bubble" id = "related_opportunities">
            <h2> Related Opportunities </h2>
            <%include ./partial/opportunities_sidescroll.ejs%>
        </section>

        <section class = "item9">
            <button><a href = "<%="../comments/" + editor._id%>">See comments on this issue</a></button>
        </section>

            </div>

        <!--    </section>
        </section>-->

        </div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>
