<!-- In progress - trying in html first -->
<script src = "../javascript/op_scroll.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

    <!-- Stylesheets -->
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">

    <!-- Javascript files -->
    <script src = "/javascript/changeColor.js"></script>
    <!--script src = "../javascript/op_scroll.js"></script>
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "../javascript/sticky_nav.js"></script>

    <!-- Name of Article -->
    <title> <%= editor.name %> - <%= editor.author%> </title>
</head>


<body>

<!-- Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

<div class = "grid-container">

<!-- Used to make footers sticky -->
<div class = "content">


    <div class = "grid-container-editor">

        <!-- Article Banner -->
        <header class = "header">
            <% include ./partial/article-banner.ejs%>
        </header>

        <!-- Information for User to assess whether to read the article at a glance -->
        <div class = "ratings">
            <!-- Number of users who have liked the article -->
            <p> <b>Popularity:</b> <em><%=editor.popularity%></em> people liked this article
                <!-- Categories hyperlinked to similar articles -->
                | <b>Categories:</b> <% for(let i = 0; i < editor.categories.length; i++) { %>
                <a href=<%="../search?query=&category=" + editor.categories[i]%>> <%= "#" + editor.categories[i] %></a> <%}%></p>
        </div>

        <!-- Description of the Article by the Editor -->
        <div class = "description bubble">
                <h2>"<%= editor.description %>"</h2>
        </div>

        <!-- Repository Title  -->
        <div class = "title-articlerepos bubble">
            <h1 class="white_text"> <img src = "../images/downwards-arrow-key.png" style = "float:left; width:28px">
                <%= editor.author%>'s Resource Repository <img src = "../images/downwards-arrow-key.png" style = "float:right; width:28px"> </h1>
        </div>

        <div class = "psst bubble">
            <h3 class = "darkgray_text"> <em>Tips to navigate by the Site Creators</em></h3>
            <p class = "darkgray_text"> If you are unfamiliar with an issue try starting with <em>High Level Perspectives</em>
            to get an overview of what the issue is about, from there feel free to investigate
            reports and opinion pieces to begin your research on why the article's Editor holds their stance.
                <br> Please note: the links are those suggested by the Editor
            <br> <br> For information on how to make the most of these articles, see our <a href = "../about"> About</a> page! </p>
        </div>


        <!-- High Level Links  -->
        <div class = "high_l bubble">
            <h1> High Level Perspectives</h1>
            <ul>
                <% for(i = 0; i < editor.hl_source.length; i++) { %>
                <li> <a href = "<%=editor.hl_source[i]%>" target="_blank"> <%=editor.hl_source[i]%>  </a> </li>
                <% } %>
            </ul>
        </div>

        <!--Reports Links-->
        <div class = "reports bubble">
            <h1> Reports</h1>
            <ul>
                <% for(i = 0; i < editor.r_source.length; i++) { %>
                <li> <a href = "<%=editor.r_source[i]%>" target="_blank"> <%=editor.r_source[i]%> </a> </li>
                <% } %>
            </ul>
        </div>

        <!--Opinion Links-->
        <div class = "opinions bubble">
            <h1> Opinion Pieces </h1>
            <ul>
                <% for(i = 0; i < editor.o_source.length; i++) { %>
                <li> <a href = "<%=editor.o_source[i]%>" target="_blank"> <%=editor.o_source[i]%> </a> </li>
                <% } %>
            </ul>

        </div>

        <section class = "related_opportunities bubble">
            <h2> Related Opportunities </h2>
            <%include ./partial/opportunities_sidescroll.ejs%>
        </section>

    </div>

    <!--TODO comments section -->
    <h1>Comments</h1>
    <br>
    <% if(comments.length == 0) {%>
    <section>
        <p>There are no comments on this article yet!<p> <!--TODO-->
            <button id = "comment_button_centered" onclick="showCommentForm()">Comment!</button>
    </section>
    <% } else { %>
    <section id = "contributions_grid">
        <!--Individual contribution-->
        <% /*const comments = issue.contributions;*/
        for(i = 0; i < comments.length; i++) { %>
        <article>
            <!--User info - links to user profile-->
            <p class = "comment_username"><a href="../profile/<%=comments[i].author%>"><%=comments[i].author%></a></p>
            <p class = "comment_description"><%=comments[i].comment%></p>
            <!--Article preview-->
            <p class = "preview"><a href="<%=comments[i].article_url%>">See Article</a></p>
        </article>
        <% } // TODO are these necessary?
        if(comments.length%3==2) {%>
        <article id = "invisible"></article>
        <%} else if(comments.length%3==1) {%>
        <article id = "invisible"></article>
        <article id = "invisible"></article>
        <%}%>

    </section>
    <button id = "comment_button" onclick="showCommentForm()">Comment!</button>
    <%}%>
    <!--Enter comment form-->

    <section id="enter_comment_bg">
        <% if(user) {%>
        <form id="enter_comment" action = "../new-contribution/" method = "post">
            <input type="hidden" name="name" value="<%=editor.name%>"> <!-- TODO Use ID?-->
            <input type="hidden" name="author" value = "<%=user.username%>">
            <textarea name="comment" placeholder="Your comment here..."></textarea><br>
            <input type="text" name="article_url" placeholder="URL to an article">
            <button type="submit">Submit</button>
        </form>
        <%} else { %>
        <section id="enter_comment">
            <h4>Wait a moment!</h4>
            <p>To make a comment, you need to be a user first.</p>
            <p><a href="../create-account">Click here to go to the create account page.</a></p>
            <p><a href="../login">Click here to login.</a></p>
        </section>
        <%}%>
    </section>



</div>
</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>
