<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Home </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
    <link href = "styles/top_navigation.css" type = "text/css" rel="stylesheet">
</head>
<body>

<!--Site title-->
<header>
    <h1>MultiView</h1>
</header>

<!--Nav bar-->
<section id = "top_navigation">
    <nav>
        <ul>
            <li><a href = "../home">Home</a></li>
            <li> <a href = "../about"> About </a></li>
            <li><a href = "../contributions"> Contributions </a></li>
            <li><a href="../editors"> Editor Articles </a></li>
            <li><a href="../opportunities"> Opportunities </a></li>
            <li><a href = ""> Profile</a></li>
            <!--TODO: Login button-->
        </ul>
    </nav>
</section>

<!--Search button-->
<section id = "search">
    <h2> Topic Search </h2>
    <form action = "../search/" method = "get">
        <input type="text" placeholder="Enter an issue!" name="query" />
        <!--<input type="hidden" name="sort" value="date"/>-->
        <button type="submit">Search</button>
    </form>

    <!--TODO Button action -->
    <!--<button id="random_button">Random issue</button>-->
</section>

<!--Issue suggestions-->
<section id = "suggested_issues">

    <article>

        <figure>
            <figcaption>Recent</figcaption>

            <a href="<%="../" + recent_issue.type + "/" + recent_issue.url%>">

                <section class = "image_container">
                    <img src = "<%= recent_issue.image%>" alt = "Recent issue - <%= recent_issue.name%>">
                    <section class = "overlay"><p><%= recent_issue.description%></p></section>
                </section>
                <h4><%= recent_issue.name%></h4>

            </a>
        </figure>


    </article>

    <article>

        <figure>
            <figcaption>Popular</figcaption>

            <a href="<%="../" + popular_issue.type + "/" + popular_issue.url%>">

                <section class = "image_container">
                    <img src = "<%= popular_issue.image%>" alt = "Popular issue - <%= popular_issue.name%>">
                    <section class = "overlay"><p><%= popular_issue.description%></p></section>
                </section>
                <h4><%= popular_issue.name%></h4>

            </a>
        </figure>


    </article>

</section>

</body>
</html>