<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= opportunity.name %> - opportunity </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "../javascript/sticky_nav.js"></script>

</head>

<body>

<!--Site title-->
<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->

<br>
<header id="event_header">
    <img src = "<%= opportunity.image %>" alt = "event banner">
    <div>
        <h1><%= opportunity.name %></h1>
        <h2>By <a href="../profile/<%=opportunity.organiser%>"><%= opportunity.organiser %></a></h2>
    </div>

</header>


<section id="event_information">

    <div>
        <h2>DESCRIPTION</h2>
        <p><%= opportunity.description %></p>
    </div>
    <div>
        <h2>DATE AND TIME</h2>
        <p><%= opportunity.date_event %></p>
    </div>

    <div>
        <h2></h2>
    </div>

    <div>
        <h2>LOCATION</h2>
        <p><%= opportunity.location %></p>
    </div>

</section>
</div>


<footer>
    <% include ./partial/footer.ejs %>
</footer>

</body>
</html>
