<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Opportunity Landing Page </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "./javascript/sticky_nav.js"></script>
</head>

<body>
<!--Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->
        <!-- Opportunity Search Results -->
    <br>
        <section id = "opportunity_results">
            <!-- Returns each opportunity page -->
            <% for(i = 0; i < results.length; i++) { %>
            <article>
                <!-- Opportunity Banner Image -->
                <img src="<%=results[i].image%>">

                <!-- Opportunity Title  -->
                <a href="<%="../opportunity/" + results[i].url%>">
                <h3><%=results[i].name%></h3>
                </a>
                <!-- Preview up to 40 characters of the Opportunity description -->
                <p><%=results[i].description.substring(0,40)%>
                    <%if(results[i].description.length > 40) {%>...
                    <%}%>
                </p>
                <!-- Related Categories -->
                <h4>Categories:</h4>
                <p>
                <% var categories = results[i].categories;
                for(j = 0; j < categories.length; j++) { %>
                    <a href="">#<%=categories[j]%></a>
                <% } %></p>
            </article>

            <!--Add "invisible" articles which take up the required empty spaces in the grid row -->
            <%} for(i=0; i < results.length%3+1; i++) {%>
                <article id = "invisible"></article>
            <%} %>
        </section>
    </div>

<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>