<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= opportunity.name %> - opportunity </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "../javascript/sticky_nav.js"></script>

</head>

<body>

<!--Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->
    <br>
    <!-- Event Banner and Basic Details Section  -->
    <header id="event_header">
        <img src = "<%= opportunity.image %>" alt = "event banner">
        <div>
            <!-- Opportunity Title -->
            <h1><%= opportunity.name %></h1>

<br>
<header id="event_header">
    <img src = "<%= opportunity.image %>" alt = "event banner">
    <div>
        <h1><%= opportunity.name %></h1>
        <h2>By <a href="../profile/<%=opportunity.organiser%>"><%= opportunity.organiser %></a></h2>
    </div>

</header>

            <!-- Interaction Buttons -->
            <div id = "event_buttons" class = "bubble">
                <button id = "likeButton" class = "likeOff" onclick= "interactButtons(this.id)">  </button>
                <button id = "bookmarkButton" class = "bookmarkOff"  onclick = "interactButtons(this.id)"></button>
            </div>
        </div>
    </header>

    <!-- Event Information Section -->
    <section id="event_information">
        <div>
            <!-- Description of Opportunity -->
            <h2 class = "capitalise">Description</h2>
            <p><%= opportunity.description %></p>
            <p><b>Link to more information:</b> <a href = "<%= opportunity.further_info%>">
                    <%= opportunity.further_info%></a></p>
        </div>
        <div>
            <!-- Date and Time Information -->
            <h2 class = "capitalise">Date and Time</h2>
            <p><%= opportunity.date_event %></p>
        </div>

        <div>
            <!-- Location -->
            <h2 class = "capitalise">Location</h2>
            <p><%= opportunity.location %></p>
        </div>

        <!-- Empty Div to pad out CSS Grid -->
        <div></div>

    </section>
    </div>

<footer>
    <% include ./partial/footer.ejs %>
</footer>

</body>
</html>
