<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Opportunity Landing Page </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->

<!--Site title-->
<% include ./partial/navbar.ejs%>


<header>
    <h1>Opportunities</h1>
</header>

    <br>

    <section>
        <form id="opportunity_search"><input type="text" name="query" id="opportunity_bar" placeholder="Search">
            <input type="image" name="submit" src="https://png.icons8.com/metro/1600/search.png" alt="Submit"
                   id="magnifying_glass"/>
        </form>
    </section>

    <!--Search results-->
    <section id = "opportunity_results">

        <% for(i = 0; i < results.length; i++) { %>
        <article class = "editor">
            <img src="<%=results[i].image%>">
            <a href="<%="../opportunity/" + i%>">
            <h3><%=results[i].name%></h3>
            </a>
            <p><%=results[i].description%></p>
            <h4>Categories:</h4>
            <% var categories = results[i].categories;
            for(j = 0; j < categories.length; j++) { %>
            <p class = "issue_category">
                <a href="">#<%=categories[j]%></a>
            </p>
            <% } %>
        </article>

        <!--Add "invisible" articles which take up the required empty spaces in the grid row -->
        <%} for(i=0; i < results.length%3+1; i++) {%>
            <article id = "invisible"></article>
        <%} %>

    </section>
</div>

<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>