<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Search </title>
    <!-- Note: neither "./" or no "/" work with EJS due to absolute path issues. -->
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "./javascript/sticky_nav.js"></script>
</head>

<body>

<!--Site title-->
<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->

<br>
<div id="search_title"><h1>Search Results</h1></div>
<br>

<section id = "sidebar_page">
<!-- Advanced search options -->
<nav id = "search_options">
    <% let sort_url = "../search/?query=" + query + "&sort="%>
    <h4>Sort By:</h4>
    <ul>
        <li>Alphabetical
            <a href="<%=sort_url +"name&asc=true"%>">ASC</a> |
            <a href="<%=sort_url + "name&asc=false"%>">DSC</a></li>
        <li>Most recent
            <a href="<%=sort_url +"date_update&asc=true"%>">ASC</a> |
            <a href="<%=sort_url + "date_update&asc=false"%>">DSC</a></li>
        <li>Most popular
            <a href="<%=sort_url +"popularity&asc=true"%>">ASC</a> |
            <a href="<%=sort_url + "popularity&asc=false"%>">DSC</a></li>
    </ul>
</nav>

<!--Search results-->
<section id = "search_results">

    <section id = "search_bar_small">
        <form action = "" method = "get">
            <input type="text" placeholder="Search..." name="query" />
            <button type="submit">Enter</button>
        </form>
    </section>

    <% for(i = 0; i < results.length; i++) { %>
        <article class = "editor" id="search_box"> <!--TODO: remove difference -->
            <a href="<%="../issue/" + results[i].url%>">
                <h3><%=results[i].name%></h3>
            </a>
            <p> Editor name </p> <!-- TODO: link editors name -->
            <p><%=results[i].description%></p>
            <h4>Categories:</h4>
            <% var categories = results[i].categories;
            for(j = 0; j < categories.length; j++) { %>
                <p class = "issue_category">
                    <a href=<%="../search?query=&category=" + categories[j]%>>#<%=categories[j]%></a>
                </p>
            <% } %>
        </article>
    <% } %>

</section>
</section>
</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>

</body>
</html>