<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Search </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->

<!--Site title-->
<% include ./partial/header.ejs%>
<% include ./partial/navbar.ejs%>

<br>
<div id="search_title"><h1>Search Results</h1></div>
<br>

<section id = "sidebar_page">
<!-- Advanced search options -->
<nav id = "search_options">
    <h4>Sort By:</h4>
    <ul>
        <!--Note: currently non-functional -->
        <li><a href="">Alphabetical</a></li>
        <li><a href="">Most recent</a></li>
        <li><a href="">Most popular</a></li>
    </ul>
</nav>

<!--Search results-->
<section id = "search_results">

    <section id = "search_bar_small">
        <form action = "" method = "get">
            <input type="text" placeholder="Search..." name="query" />
            <button type="submit">Search</button>
        </form>
    </section>

    <% for(i = 0; i < results.length; i++) { %>
        <article class = "<%=results[i].type%>" id="search_box">
            <a href="<%="../" + results[i].type + "/" + results[i].url%>">
                <h3><%=results[i].name%></h3>
                <p><%=results[i].description%></p>
            </a>
            <h4>Categories:</h4>
            <% var categories = results[i].categories;
            for(j = 0; j < categories.length; j++) { %>
                <p class = "issue_category">
                    <a href="">#<%=categories[j]%></a>
                </p>
            <% } %>
        </article>
    <% } %>

</section>
</section>
</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>

</body>
</html>