<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Show "list of articles" as the title if the user entered no query (e.g. if entered from navbar) -->
    <% let title = "Search Results";
    if(query === "") {
        title = "List of Articles";
    } %>

    <title> <%=title%> </title>
    <!-- Note: neither "./" or no "/" work with EJS due to absolute path issues. -->
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">

    <!-- Used to make Navigation Bar Sticky -->
    <script src = "../javascript/sticky_nav.js"></script>
</head>

<body>

<!-- Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->

    <br>
    <div id="search_title"><h1><%= title %></h1></div>
    <br>
    <section id = "sidebar_page">

        <!-- Advanced search options -->
        <nav id = "search_options">
            <% let sort_url = "../search/?query=" + query + "&sort="%>
            <h4>Sort By:</h4>
            <ul>
                <!-- Sorts Alphabetically -->
                <li>Alphabetical
                    <a href="<%=sort_url +"name&asc=true"%>">ASC</a> |
                    <a href="<%=sort_url + "name&asc=false"%>">DSC</a></li>

                <!-- Sorts from by how recently the Article was updated -->
                <li>Most recent
                    <a href="<%=sort_url +"date_post&asc=true"%>">ASC</a> |
                    <a href="<%=sort_url + "date_post&asc=false"%>">DSC</a></li>

                <!-- Sorts by number of likes on Article -->
                <li>Most popular
                    <a href="<%=sort_url +"popularity&asc=true"%>">ASC</a> |
                    <a href="<%=sort_url + "popularity&asc=false"%>">DSC</a></li>
            </ul>
        </nav>

        <!--Search results-->
        <section id = "search_results">

            <section id = "search_bar_small">
                <form action = "" method = "get">
                    <input type="text" placeholder="Search..." name="query" />
                    <button type="submit">Enter</button>
                </form>
            </section>

            <!-- Render each article -->
            <% for(i = 0; i < results.length; i++) { %>
                <article class = "editor" id="search_box">
                    <a href="<%="../issue/" + results[i].url%>">
                        <!-- Article Title -->
                        <h3 class = "inline-block"><%=results[i].name%></h3>
                    </a>
                    <!-- Link to Editor's Public Profile -->
                    <p class = "inline-block">- <a href="../profile/<%=results[i].author%>"><%= results[i].author%></a></p>

                    <!-- Preview 300 characters of description for a taster of the article -->
                    <p><img src = "<%= results[i].image%>" class = "article-image">
                            <%=results[i].description.substring(0,300)%>
                            <%if(results[i].description.length > 300) {%>...
                            <%}%>
                        </p>

                    <!-- Categories the Article is stored under -->
                    <h4>Categories:</h4>
                    <% var categories = results[i].categories;
                    for(j = 0; j < categories.length; j++) { %>

                        <!-- Links to List of Articles that share the category -->
                        <p class = "issue_category">
                            <a href=<%="../search?query=&category=" + categories[j]%>>#<%=categories[j]%></a>
                        </p>
                    <% } %>
                </article>
            <% } %>
        </section>
    </section>
    </div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>

</body>
</html>