<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= profile.username%> - Profile </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <!-- Used to make Navigation Bar Sticky -->

</head>

<body>

<!--Site title-->
<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->

    <header>
        <h1><%= profile.username%></h1>
    </header>

    <div class = "grid-container-about">
        <div id = "about-user" class = "item1style bubble">
            <h2> username: <%= profile.username%> </h2>
            <h2> display name: <%= profile.display_name%></h2>
            <h2> description: <%= profile.profile_description%></h2>
            <!--TODO email private or not? -->
        </div>

    <%if(user.username === profile.username) {%>
        <h1 class = "titlestyle"> - Your Updates - </h1>
        <div class = "item1style bubble">
            <h1> Recent activity: </h1>
        </div>
    <%}%>

    <!-- TODO: How many followers does an editor have -->
    <% if(user.is_editor) { %>
    <h1 class = "titlestyle"> - Verified Editor - </h1>
        <div class = "item1style bubble">
            <h1> Followers </h1>
            <ul style="text-align: left;">
            </ul>
        </div>

        <!-- TODO: How many articles does an editor have -->
        <div class = "item1style bubble">
            <h1> Created Articles </h1>
            <ul style="text-align: left;">
                <%// profile.articles%>
            </ul>
        </div>
    <%}%>

    <h1 class = "titlestyle"> - User Activity - </h1>
    <div class = "item1style bubble">
        <h1> Liked Articles</h1>
        <ul style="text-align: left;">
            <% for(i=0; i < profile.likes.length; i++) { %>
            <li><a href="../issue/<%=profile.likes[i].id%>"><%=profile.likes[i].name%></a></li>
            <% } if(profile.likes.length === 0) {%>
                <p>This user hasn't liked anything yet!</p>
            <%}%>
        </ul>
    </div>

        <div class = "item1style bubble">
            <h1> Followed Editors</h1>
            <ul style="text-align: left;">
                <% for(i=0; i < profile.followedUsers.length; i++) { %>
                <li><a href="../profile/<%=profile.followedUsers[i]%>"><%=profile.followedUsers[i]%></a></li>
                <% } if(profile.followedUsers.length === 0) {%>
                <p>This user hasn't followed anyone yet!</p>
                <%}%>
            </ul>
        </div>

        <div class = "item1style bubble">
            <h1> Bookmarked Articles</h1>
            <ul style="text-align: left;">
                <% for(i=0; i < profile.bookmarks.length; i++) { %>
                <li><a href="../issue/<%=profile.bookmarks[i].id%>"><%=profile.bookmarks[i].name%></a></li>
                <% } if(profile.bookmarks.length === 0) {%>
                <p>This user hasn't bookmarked any articles yet!</p>
                <%}%>
            </ul>
        </div>

        <!-- TODO: How many Opportunities has a user created -->
        <div class = "item1style bubble">
            <h1> Created Opportunities</h1>
            <ul style="text-align: left;">
                <% for(i=0; i < profile.posts.length; i++) { %>
                <li>On <a href="../issue/<%=profile.posts[i][0]%>"><%=profile.posts[i][1]%></a> - <i><%=profile.posts[i][2]%></i></li>
                <% } if(profile.posts.length === 0) {%>
                <p>This user hasn't created an opportunities yet!</p>
                <%}%>
            </ul>
        </div>

        <div class = "item1style bubble">
            <h1> Past Comments</h1>
            <ul style="text-align: left;">
                <% for(i=0; i < profile.posts.length; i++) { %>
                <li>On <a href="../issue/<%=profile.posts[i][0]%>"><%=profile.posts[i][1]%></a> - <i><%=profile.posts[i][2]%></i></li>
                <% } if(profile.posts.length === 0) {%>
                <p>This user hasn't made any comments yet!</p>
                <%}%>
            </ul>
        </div>
    </div>


</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>