<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= user.username%> - Profile </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "./javascript/sticky_nav.js"></script>
</head>

<body>

<!--Site title-->
<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->

    <header>
        <h1><%= user.username%></h1>
    </header>
    <body>

    <div class = "grid-container-about">
        <div id = "about-user" class = "item1style bubble">
            <h2> username: <%= user.username%> </h2>
            <h2> display name: <%= user.display_name%></h2>
            <h2> description: <%= user.profile_description%></h2>
            <h2> email: <%= user.free_email%></h2>
        </div>


    <div class = "item1style bubble">
        <h1> Liked Articles</h1>
        <p> dummy text </p>
    </div>

        <div class = "item1style bubble">
            <h1> Followed Editors</h1>
            <p> dummy text </p>
        </div>

        <div class = "item1style bubble">
            <h1> Bookmarked Articles</h1>
            <p> dummy text </p>
        </div>

        <div class = "item1style bubble">
            <h1> Past Comments</h1>
            <p> dummy text </p>
        </div>


    </body>
    </div>


</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>